<div  *ngIf="resumeModel"  class=" h-100 d-flex flex-column">

    <app-basic-header  [resumeOptions]="resumeOptions" [style]="{backgroundColor:resumeOptions.headerBackgroundColor,color:resumeOptions.headerTextColor}"  class="col-12 p-0" [headerModel]="resumeModel['headers']"></app-basic-header>
    
    <div *ngIf="isPrint==false" dragula="sectiondrag" [style]="{backgroundColor:resumeOptions.bodyBackgroundColor,color:resumeOptions.bodyTextColor}"  class="p-0 flex-grow-1 col-12" [(dragulaModel)]="resumeModel['sections']" >
        <app-basic-section [sectionAlignment]="resumeOptions.sectionAlignment"   *ngFor="let section of resumeModel['sections']" [sectionModel]="section" ></app-basic-section>
        
    </div>

          
    <ng-container *ngIf="isPrint==true"     class="p-0 flex-grow-1 col-12" >
        
        <app-basic-section [sectionAlignment]="resumeOptions.sectionAlignment" style="page-break-inside: avoid;" [style]="{backgroundColor:resumeOptions.bodyBackgroundColor,color:resumeOptions.bodyTextColor}"   *ngFor="let section of resumeModel['sections']" [sectionModel]="section" ></app-basic-section>
        
    </ng-container>


</div>