
.page
{   width: 100%;
    width: 210mm;
    height: 297mm;
    min-width: 210mm !important;
    min-height: 297mm !important;
    background-color: white;
    overflow: auto;
    display: block;
}

h1
{
    font-size: 48pt !important;
}

h2
{
    font-size: 32pt !important;
}

h3
{
    font-size: 24pt !important;
}

h4
{
    font-size: 22pt !important;
}

h5
{
    font-size: 18pt !important;
}

h6
{
    font-size: 14pt !important;
}




